@font-face{
	font-family: ubuntu;
	src: url("fonts/Ubuntu.ttf") format("truetype");
}
body{
	font-family: ubuntu, arial, helvetica, sans-serif;
}
.top-navigation{
	background-color: #272727;
	color: #cecece;
	padding: 0.35rem 0;
	height: 35px;
}
.top-navigation a{
	color: #cecece;
}
.top-navigation a:hover{
	color: #fff;
}
.navbar{
	background-color: rgba(39,64,139,0.8); /*47 79 79*/
}
.no-margin{
	margin-left: -15px;
	margin-right: -15px;
}
.nav-link,
.dropdown-item a{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
.nav-link:hover{
	color: #aaa;
}
.dropdown-menu{
	top: 3.32rem;
	background-color: #25221A;
	border-radius: 0;
}
.dropdown-item:hover{
	background-color: transparent;
}
.fa-bars{
	color: #fff;
	font-size: 1.875rem;
}
.donate{
	background-color: #E6E6FA;
	color: black;
	padding: 1.58rem 1.5rem 1.6rem;
	margin-right: -0.3rem;
	font-weight: bold;
}
.donate:hover{
	color: #685617;
	text-decoration: none;
}
.banner img{
	background-position: center;
	background-repeat: no-repeat;
}
.fa-code{
	text-align: center;
	line-height: 23px;
}
.infos{
	height: 32rem;
	background-color: #25221A;
}
.converse{
	height: 27rem;
	background-color: #cecece;
}
.rodape{
	height: 15rem;
	background-color: #25221A;
}
.formulario{
	border: 1px solid black;
	border-radius: 60px;
	height: 17rem;
}
.formu{
	background-color: white;
	height: 1.875rem;
	width: 1.875rem;
	text-align: center;
	line-height: 25px;
	border-radius: 100px;
}
.converse input{
	height: 1.875rem;
}
.converse input,
.converse textarea{
	width: 22rem;
}
.converse textarea{
	height: 5rem;
}
.submita{
	margin-left: 2rem;
	border: none;
	background-color: #696969;
	color: white;
	border-radius: 100px;
}
.converse div{
	float: left;
	text-align: center;
}
.converse input,
.converse textarea{
	float: right;
}
.bgCartao{
	background-color: #eee;
	border-radius: 30px;
	max-height: 13.55rem;
}
.cartaoVisita{
	background-color: rgba(39,64,139,0.5);
	border-radius: 30px;
}
.faCartao{
	color: rgb(39,64,139);
	font-size: 2rem;
	color: #25221A;
}
.hCartao{
	font-weight: bold;
	font-size: 1.1rem;
	color: rgb(39,64,139);
	font-family: ubuntu;
}
.pCartao{
	font-size: 1.1rem;
	font-family: ubuntu;
	font-weight: normal;
}
/*Start footer*/
.rodape h5{
	color: #fff;
}
.rodape hr{
	border-color: white;
}
.icone{
	background-color: rgba(39,64,139,0.5);
}
.areaTexto{
	max-height: 7rem;
}
.faw{
	color: black;
}
.rodape hr{
	border: 1px solid rgba(39,64,139,0.9);
}
.rodape p{
	color: white;
	font-size: 0.9rem;
}
.negrita{
	font-weight: bold;
}
