@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
	font-family: Ubuntu, arial, sans-serif;
}

h2{
	font-size: 2rem;
}

.no-margin {
	margin-left: -15px;
	margin-right: -15px;
}

.top-navigation {
	background-color: #272727;
	color: #cecece;
	padding: 0.35rem 0;
	height: 35px;
}

.top-navigation a,
.textBranco {
	color: #cecece;
}

.link {
	text-decoration: none;
	color: #cecece;
}

.link:hover {
	text-decoration: none;
	color: #cecece;
	font-size: 1.1rem;
}

.top-navigation a:hover {
	color: #fff;
}

.navbar,
.progress-bar {
	background-color: rgba(39,64,139,0.8);
}

.nav-link {
	color: #fff;
	font-size: 1.3rem;
}

.nav-link:hover {
	color: #aaa;
}

.dropdown-menu {
	background-color: #25221A;
}

.dropdown-menu:hover {
	background-color: white;
	transition: 0.4s;
}

.dropdown-menu:hover > .dropdown-item {
	color: black;
	background-color: transparent;
}

.dropdown-item {
	color: white;
}

.btnMenu {
	background-color: transparent;
	color: white;
	font-size: 1.3rem;
}

.btnMenu:hover {
	color: #aaa;
}

.fa-bars {
	color: #fff;
	font-size: 1.875rem;
}

.contato {
	background-color: #E6E6FA;
	color: black;
	padding: 1rem;
	font-weight: bold;
	font-size: 1rem;
}

.contato:hover {
	color: #a4a4a4;
	text-decoration: none;
}

.banner {
	background-color: gray;
}

.banner img {
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}

.fa-code {
	text-align: center;
	line-height: 23px;
}

/*START SOBREMIM*/
.profilePic {
	border-radius: 20px;
	border: 1px solid white;
}
/*END SOBREMIM*/
/*START INFOS*/
.infos {
	background-color: #25221A;
}

/*END INFOS*/
/*START CONVERSE*/
.converse {
	background-color: #cecece;
}

.formulario {
	border: 1px solid black;
	border-radius: 60px;
	height: 17rem;
}

.formu {
	background-color: white;
	height: 1.875rem;
	width: 1.875rem;
	text-align: center;
	line-height: 25px;
	border-radius: 100px;
}

.areaTexto {
	max-height: 7rem;
}

.faw {
	color: black;
}

.converse input {
	height: 1.875rem;
}

.converse input,
.converse textarea {
	width: 22rem;
}

.converse textarea {
	height: 5rem;
}

.submita {
	margin-left: 2rem;
	border: none;
	background-color: #696969;
	color: white;
	border-radius: 100px;
}

.converse div {
	float: left;
	text-align: center;
}

.converse input,
.converse textarea {
	float: right;
}

.bgCartao {
	background-color: #eee;
	border-radius: 30px;
	max-height: 13.55rem;
}

.cartaoVisita {
	background-color: rgba(39,64,139,0.5);
	border-radius: 30px;
}

.faCartao {
	color: rgb(39,64,139);
	font-size: 2rem;
	color: #25221A;
}

.hCartao {
	font-weight: bold;
	font-size: 1.1rem;
	color: rgb(39,64,139);
	font-family: Ubuntu;
	text-align: center;
}

.pCartao {
	font-size: 0.9rem;
	font-family: Ubuntu;
	font-weight: bold;
}
/*END CONVERSE*/
/*START FOOTER*/
.rodape {
	background-color: #25221A;
}

.rodape h3 {
	color: white;
	font-size: 1.4rem;
}

.rodape hr {
	border-color: white;
}

.icone {
	background-color: rgba(39,64,139,0.5);
}

.rodape hr {
	border: 1px solid rgba(39,64,139,0.9);
}

.rodape p {
	color: white;
	font-size: 0.9rem;
}

.btnTop {
	color: #aaa;
	background-color: transparent;
}

.btnTop:hover {
	color: white;
}

.btnTop:focus,
.btnMenu:focus {
	box-shadow: none;
}

.linkSocial {
	color: white;
	text-decoration: none;
	font-size: 0.9rem;
}

.linkSocial:hover {
	color: white;
	text-decoration: none;
	font-size: 1rem;
}
/*END FOOTER*/
/*START REDIRECT PAGE CSS*/
.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(39,64,139,0.8);
}

.card {
	border-radius: 25px;
}
/*END REDIRECT PAGE CSS*/
/*START PROJETOS-WEB PAGE CSS*/
/*START APRESENTACAO*/
.apresentacao{
	background-color: #25221A;
}
/*END APRESENTACAO*/
/*START TUDIMDIBAO*/
.tudimdibao {
	background-color: #25221A;
}

.tudimdibao div p {
	font-size: 1.1rem;
}

.tudimdibao div a:hover {
	text-decoration: none;
}

.fotoSite {
	border-radius: 20px;
	border: 1px solid black;
}
/*END TUDIMDIBAO*/
/*START PORTFOLIO*/
.portfolio {
	background-color: #cecece;
}

.portfolio div a:hover {
	text-decoration: none;
}

.portfolio div p {
	font-size: 1.1rem;
}
/*END PORTFOLIO*/
/*START CONSIDERACOES*/
.consideracao {
	background-color: #cecece;
}

.consideracao div p {
	font-size: 1.1rem;
}
/*END CONSIDERACOES*/
/*END PROJETOS-WEB PAGE CSS*/