/*TAGS CSS GERAIS*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
	font-family: Ubuntu, arial, sans-serif;
}

.no-margin {
	margin-left: -15px;
	margin-right: -15px;
}

.textBranco {
	color: #cecece;
}

h1 {
	font-size: 1.9rem;
}

h2 {
	font-size: 1.7rem;
}
/*START TOP-NAVIGATION*/
.top-navigation {
	background-color: #272727;
	color: #cecece;
	padding: 0.35rem 0;
	height: 35px;
}

.top-navigation a {
	color: #cecece;
}

.top-navigation a:hover {
	color: #fff;
}
/*END TOP-NAVIGATION*/
/*START NAVBAR*/
.nav-link {
	color: #fff;
	font-size: 1.3rem;
}

.nav-link:hover {
	color: #aaa;
}

.navbar {
	background-color: rgba(39,64,139,0.8);
}

.fa-bars {
	color: #fff;
	font-size: 1.875rem;
}
/*END NAVBAR*/
/*START BANNER*/
.banner {
	background-color: gray;
}

.banner img {
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}
/*END BANNER*/
/*START APRESENTACAO*/
.apresentacao{
	background-color: #25221A;
}
/*START FOOTER*/
.rodape {
	background-color: #25221A;
}

.rodape h3 {
	color: white;
	font-size: 1.4rem;
}

.rodape hr {
	border-color: white;
}

.icone {
	background-color: rgba(39,64,139,0.5);
}

.rodape hr {
	border: 1px solid rgba(39,64,139,0.9);
}

.rodape p {
	color: white;
	font-size: 0.9rem;
}

.btnTop {
	color: #aaa;
	background-color: transparent;
}

.btnTop:hover {
	color: white;
}

.btnTop:focus,
.btnMenu:focus {
	box-shadow: none;
}

.linkSocial {
	color: white;
	text-decoration: none;
	font-size: 0.9rem;
}

.linkSocial:hover {
	color: white;
	text-decoration: none;
	font-size: 1rem;
}
/*END FOOTER*/